// Colors

$white: #fff;

$selectFontColor: #29277d;
$selectArrowColor: #bbc3ff;
$selectHoverArrowColor: #5f88f4;
$selectHoverBorder: #5f88f4;
$selectOpenBorder: #f968bf;
$optionsBackgroundColor: #dadefe;
$placeholderColor: rgba(41, 39, 125, 0.4);
$inputShadow: #23317a30;
$inputBorderOpen:
  linear-gradient(#fff, #fff) padding-box,
  linear-gradient(180deg, #e142f7, #41ace7) border-box;
